body {
  width: clamp(1100px, 100%, 1600px);
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: clamp(720px, 100vh, 800px);
}

.header__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav {
  position: absolute;
  top: 30px;
  right: 26px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #ff976b;
  transition: color 0.3s ease;
}

.header__title {
  margin: 0px;
  position: absolute;
  top: 243px;
  left: 80px;
  max-width: 709px;
}

span {
  display: block;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title--accent {
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: italic;
  color: #ff976b;
}

.header__description {
  margin: 0px;
  position: absolute;
  top: 415px;
  left: 80px;
  max-width: 683px;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__info {
  color: #6f6f6f;
}

.header__info-text {
  margin: 0px;
}

.header__hours {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.content {
  background-color: #ffd6c5;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
}

.reservation__title {
  margin: 0px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.reservation__fieldset {
  border: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  max-width: 385px;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 0px;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0px 20px 0px 15px;
  height: 60px;
  border: 1px solid #838383;
  margin-bottom: 24px;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #e96e3a;
  height: 60px;
  border-radius: 4px;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.form__label--checkbox {
  border-radius: 2px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: center;
}

.form__input--checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #4f4f4f;
  background: transparent;
}

.form__input--checkbox:checked {
  background-color: #e96e3a;
  content: url(../images/check.svg);
}

.footer {
  background-color: #d35722;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.footer__logo {
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 2;
  width: 105px;
  height: 39px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  border-radius: 170px;
  background-color: #e96e3a;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 1;
}

.footer__social {
  position: absolute;
  top: 60px;
  right: 80px;
}

.footer__social-title {
  margin: 0px;
  font-family: “Inter”;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.footer__social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__social-link {
  text-decoration: none;
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social-link:hover {
  color: #ffd6c5;
  transition: color 0.3s ease;
}

.footer__copyright {
  position: absolute;
  bottom: 60px;
  left: 80px;
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
}
